<%= link_to 'New Categoryset', new_categoryset_path %> |
<%= link_to "Back to Dashboard", admin_dashboard_path %>
<h1>Listing Categorysets</h1>
<% unless @categorysets.empty? %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categorysets.each do |categoryset| %>
  <tr>
    <td><%= categoryset.name %></td>
    <td><%= categoryset.description %></td>
    <td><%= link_to 'Edit', edit_categoryset_path(categoryset) %></td>
    <td><%= link_to 'Destroy', categoryset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<%= 'No categorysets. Create one now' %>
<% end %>
<br />

<%= link_to 'New Categoryset', new_categoryset_path %> |
<%= link_to "Back to Dashboard", admin_dashboard_path %>
