<h1>Details of <%=  @categoryset.name.capitalize%></h1>
<p>
  <b>Name:</b>
  <%= @categoryset.name %>
</p>

<p>
  <b>Description:</b>
  <%= @categoryset.description %>
</p>


<%= link_to 'Edit', edit_categoryset_path(@categoryset) %> |
<%= link_to 'Back', categorysets_path %>
