 <%= javascript_include_tag :ckeditor %>


<%= form_for(@page ,:url=>{:action=>(@page.id.nil? ? 'create' : 'update') }) do |form| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
   <%= hidden_field_tag "page_type", @page_type %>
  </div>
    

  <div class="field">
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>

 <% if @page_type.eql?('View') || @page_type.eql?('CategoryView') %>
 <div class="field">
    <%= form.label :view_type %><br />
    <% if @page_type.eql?('View') %>
    <%= form.select :view_type,["Table","Grid","List"] %>
    <% else %>
    <%= form.select :view_type,["TreeView"] %>
    <%end%>
  </div>

<div class="field">
    <%= form.label :view_for%><br />
    <% if @page_type.eql?('View') %>
       <%= form.select :view_for ,ObjectModel.find(:all).collect{|m| [ m.name.pluralize,m.id]} %>
    <% else %>
       <%= form.select :view_for ,Categoryset.find(:all).collect{|m| [ m.name,m.id]} %>
    <% end %>
  </div>
  <% end %>

 <% if @page_type.eql?('CategoryView') %>
  <div class="field">
    <%= form.label :associated_view %><br />
    <%= form.select :associated_view ,Page.views.collect{|m| [ m.title,m.id]} %>
  </div>
  <% end %>


  <div class="field">
    <%= form.label :body %><br />
    You can display other pages into the body of this page. For this you insert code in this format:<br/> &lt;%=display_rling_page("perma-link of page")%&gt;
    <%= raw(form.cktext_area :body, :toolbar=>'Full',:cols=>'100', :rows=>'5',:height=>200 ,:swf_params=>{:assetable_type=>'User', :assetable_id=>current_user.id})  %>
  </div>
  
   <div class="field">
      <%= form.hidden_field :page_view_type, :value => 1 %>
   </div>
  
 
  <div class="field">
      <%= form.label :perma_link %><br />
      <% if @page.perma_link.nil? %>
      <%= form.text_field :perma_link, :disabled=>"disabled"  %>
      <% else %>
      <%= form.text_field :perma_link %>
      <% end %>
    <% if @page_type.eql?('ObjectForm') %>
  <%= check_box('','permalnk',  :checked=> (@page.perma_link.nil? ? "checked" : "false"), :onclick => "if (this.checked){$('#object_form_perma_link').attr('disabled', 'disabled');} else {$('#object_form_perma_link').removeAttr('disabled');}") %>
Generate permalink automatically<br />
   <% elsif @page_type.eql?('View')  %>
      <%= check_box('','permalnk',  :checked=> (@page.perma_link.nil? ? "checked" : "false"), :onclick => "if (this.checked){$('#view_perma_link').attr('disabled', 'disabled');} else {$('#view_perma_link').removeAttr('disabled');}") %>
Generate permalink automatically<br />
  <% else %>
    <%= check_box('','permalnk', :checked=> (@page.perma_link.nil? ? "checked" : "false"), :onclick => "if (this.checked){$('#page_perma_link').attr('disabled', 'disabled');} else {$('#page_perma_link').removeAttr('disabled');
}") %>
Generate permalink automatically<br />
   <% end %>
  </div> 
  

 <div>
   <% PageVariableSetting.find(:all).each do |pcv| %>
   <%= pcv.name %><br/>
   <% pv = PageVariable.find_by_page_id_and_page_variable_setting_id(@page.id,pcv.id) %>
   <%= text_area_tag "page_variables[#{pcv.id}]",(pv.blank? ? "" : pv.variable_value),{:rows=>3,:cols=>50} %><br/>
   <% end %>
 </div>
   


<% if @menu.nil? %>
  <%= check_box('','add_menu',  :checked=> "false", :onclick => "if (this.checked){$('#show_menu').show();} else        {$('#show_menu').hide();}") %>
  Add Menu for this Page
<% end %>

<div id="show_menu" style="display:none;">
<%= form.label :menu_name %><br />
<%= form.text_field :menu_name %><br />
<%= form.label "Parent Menu" %><br />
<%= form.select :menu_parent_id, get_all_menus(@menu).collect{|m|[m.levelname,m.id]} %><br />
</div>

<% if @page_type.eql?('ObjectForm') %>
 <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </div>
 <% end %>

 <div>
  <%= check_box('','home_page',  :checked=> @page.home_page) %>
Show on Home Page
</div>

<% if  @page_type.eql?('View')  %>
<div class="field">
  <%= form.check_box(:allow_create_on_permission,  :checked=> @page.allow_create_on_permission) %>
  Allow Create On Permission
</div>
<% end %>


<% if @page.layout.nil? %>
<div class="field">
  <%= check_box('','add_layout',  :checked=> "false", :onclick => "if (this.checked){$('#show_layout').show();} else        {$('#show_layout').hide();}") %>
  Do you want separate layout?
</div>

<div id="show_layout" style="display:none;">
  <%= form.label :layout %>
  <%= form.text_field :layout %>
</div>
<% else %>
<div id="field">
  <%= form.label :layout %>
  <%= form.text_field :layout %>
</div>
<% end %>


<div id="status">
    <%= form.label :status %><br />
    <%= form.select :status,["Draft" ,"Published"] %>
</div>


<div class="actions">
    <%= form.submit  %>
</div>


<% end %>
