<h1>Listing Form Components for <%= @page.title.capitalize %> </h1>

<table>
  <tr>
    <th>Component name</th>
    <th>Component type</th>
    <th>Component values</th>
    <th>Default value</th>
    <th>Mandatory Field?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @form_components.each do |form_component| %>
  <tr>
   
    <td><%= form_component.component_name %></td>
    <td><%= form_component.component_type %></td>
    <td><%= form_component.component_values %></td>
    <td><%= form_component.default_value %></td>
    <td><%= form_component.mandatory %></td>
    <td><%= link_to 'Show',object_form_form_component_path(@page,form_component) %></td>
    <td><%= link_to 'Edit', edit_object_form_form_component_path(@page,form_component) %></td>
    <td><%= link_to 'Destroy', ([@page,form_component]) ,:confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form component', new_object_form_form_component_path %>
