<%= link_to 'Show', [@object,@comment_component] %> | <%= link_to 'Back', object_model_comment_components_path %>
<h1>Editing Comment Component</h1>

<%= render 'form' %>

<%= link_to 'Show', [@object,@comment_component] %> |
<%= link_to 'Back', object_model_comment_components_path %>
