<%= link_to 'New Comment component', new_object_model_comment_component_path %> | <%= link_to 'Back',object_models_path %>
<h1>Listing Comment Components</h1>

<table>
  <tr>

    <th>Component name</th>
    <th>Component Display name</th>
    <th>Component type</th>
    <th>Mandatory Field?</th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>

<% @comment_components.each do |comment_component| %>
  <tr>

    <td><%= comment_component.component_name %></td>
    <td><%= comment_component.component_display_name %></td>
    <td><%= comment_component.component_type %></td>
    <td><%= comment_component.mandatory %></td>
    <td><%= link_to 'Show', object_model_comment_component_path(@object,comment_component) %></td>
    <td><%= link_to 'Edit', edit_object_model_comment_component_path(@object,comment_component) %></td>
    <td><%= link_to 'Destroy', [@object,comment_component], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment component', new_object_model_comment_component_path %> | <%= link_to 'Back',object_models_path %>
