<%= link_to 'Show', view_view_condition_path(@page,@view_condition) %> | <%= link_to 'Back', view_view_conditions_path %>
<h1>Editing View Condition</h1>

<%= render 'form' %>

<%= link_to 'Show', view_view_condition_path(@page,@view_condition) %> |
<%= link_to 'Back', view_view_conditions_path %>
