<%= link_to 'Edit', edit_view_view_condition_path(@page,@view_condition) %> | <%= link_to 'Back', view_view_conditions_path %>
<p>
  <b>Name:</b>
  <%= @view_condition.name %>
</p>

<p>
  <b>Value:</b>
  <%= @view_condition.value %>
</p>

<p>
  <b>Operator:</b>
  <%= @view_condition.operator %>
</p>

<p>
  <b>Relation with:</b>
  <%= @view_condition.relation_with %>
</p>


<%= link_to 'Edit', edit_view_view_condition_path(@page,@view_condition) %> |
<%= link_to 'Back', view_view_conditions_path %>
