<h3>RlingCMS Setup Process</h3>
Welcome to RlingCMS. This is your first step towards using a great system to build your dream website. As a first time entry, you need to first create the administrator of the website. You can also allocate necessary details as to how to make the best utilization of the website. As a first step, please fill out the Administration form and then continue to use the website.
<script>

$(function(){
      $('#is_login_type_email').click(function(){
      if($('#is_login_type_email').attr('checked'))
         $('#login_field').hide();
       else
         $('#login_field').show();
          
  });
});
</script>

<%= form_tag first_user_create_sessions_path do %>

<table>
 <tr id="login_field">
   <td>
       <label for="user_login">Login</label>
    </td>
     <td>
        <%= text_field "user", "login", :size => 20 %>
     </td>
     <td>
        <%=  error_message_on(:user, :login, options={}) %>
     </td>
</tr>
 <tr>
       <td>
          <label for="user_email">Email</label>
       </td>
   
      <td>
           <%= text_field "user", "email",  :size => 20 %>
      </td>
      <td>
           <%=  error_message_on(:user, :email, options={}) %>
      </td>
   </tr>
   <tr>
       <td colspan=3>
         <%= check_box_tag "is_login_type_email","",false %>Login to system is via Login name or email.
       </td>
   </tr>
   <tr>
      <td>
         <label for="user_password">Password</label>
      </td>
      <td>
        <%= password_field "user", "password", :size => 20 %>
      </td>
      <td>
         <%=  error_message_on(:user, :password, options={}) %>
      </td>
   </tr>
   <tr>
      <td>
        <label for="user_password_confirmation">Password Confirmation</label>
      </td>
      <td>
         <%= password_field "user", "password_confirmation", :size => 20 %>
      </td>
      <td>
         <%=  error_message_on(:user, :password_confirmation, options={}) %>
      </td>
   </tr>
     <tr>
      <td>
        <label for="Site URL">URL of the Site that you would use (can be configured later using Settings Administration in Administration Dashboard)</label>
      </td>
      <td>
         <%= text_field_tag "site_url", get_setting("site_url"), :size => 20 %>
      </td>
   </tr>
    <tr>
      <td>
        <label for="SMTP Settings">SMTP Settings that you can use to send email. Please ensure this has the same formats as in the given example. i.e. SETTINGNAME:SETTINGVALUE; (This can be configured later using Settings Administration in Administration Dashboard)</label>
      </td>
      <td>
         <%= text_field_tag "smtp_settings", get_setting("smtp_settings"), :size => 20 %>
      </td>
   </tr>
   <tr>
       <td colspan=3>
         <%= check_box_tag "allow_user_register_user" %>Can a user register himself in th website, Is it allowed
       </td>
   </tr>
   <tr>
       <td colspan=3>
         <%= check_box_tag "allow_admin_register_user" %>Can the admin register a user in the website
       </td>
   </tr>
   <tr>
       <td colspan=3>
         <%= check_box_tag "user_activation_required_on_user" %>When the user registers, should an activation email sent to him to activate himself before using the system
       </td>
   </tr>
   <tr>
       <td colspan=3>
         <%= check_box_tag  "user_activation_required_on_admin" %>When the admin registers the user should an activation email be sent to the user to activate before using the system
       </td>
   </tr>
    <tr>
       <td colspan=3>
         <%= check_box_tag  "send_welcome_email" %>Once the user registers should an welcome email be sent.
       </td>
   </tr>
   
</table>




<%= submit_tag "Create Rling First User"%>
<% end %>
