<h1>Login</h1>

<%= form_tag sessions_path do  %>
  <% unless get_setting("is_login_type_email") %> 
     <%= label_tag :login %><br />
     <%= text_field_tag :login %><br />
  <% else %>
      <%= label_tag :login %><br />
      <%= text_field_tag :login %><br />
  <% end %>
  <%= label_tag :password %><br />
  <%= password_field_tag :password %><br />
  <%= label_tag :remember_me %>
  <%= check_box_tag :remember_me %><br/>
  <p>
  <%= submit_tag "Login" %>
  <%= link_to "Forgot Password?",new_password_reset_path %>
  </p>
<% end %>
	
