<h1>Login</h1>

<%= form_tag sessions_path do  %>

  <%= label_tag :login %><br />
  <%= text_field_tag :login %><br />
  <br />
  <%= label_tag :password %><br />
  <%= password_field_tag :password %><br />
  <%= label_tag :remember_me %>
  <%= check_box_tag :remember_me %><br/>
  <p>
  <%= submit_tag "Login" %>
  <%= link_to "forgot password",new_password_reset_path %>
  </p>
<% end %>
	
