<% if @user.nil? %>
User Not found. Please check your reset Path is correct or not.

<% else %>

<%= error_messages_for :user %>
<% form_tag change_password_resets_path do -%>
  <p>
    Pick a new password for <span><%= @user.email %></span>
   <%= hidden_field :user,:email %>
   <%= hidden_field :user,:reset_password_key %>
  </p>

  <p>
    <label for="password">New Password</label><br />
    <%= password_field :user, :password %>
  </p>
  <p>
    <label for="password">Confirm Password</label><br />
    <%= password_field :user,:password_confirmation %>
  </p>

  <p>
    <%= submit_tag 'Reset' %>
  </p>
<% end -%>

<% end %>
