<h1>Listing menus</h1>
<%= link_to 'New menu', new_menu_path %> |
<%= link_to "Back to Dashboard", :controller=>"admin", :action=>"dashboard" %><br/><br/>
<%= form_tag update_position_menus_path do %>
<table>
<% @all_menus.each do |m| %>
 <tr>
<% if m[1] < 0 %>
<td><%= m[0] %></td>
<% else %>
<% menu = Menu.find(m[1])
 menu.level.times do %>
<td></td>
<% end %>
<td><%= m[0] %></td>

   
    <td align=right><%= text_field_tag "#{menu.id}",menu.position, :size=>2 %></td>
    <td align=center><%= link_to image_tag('show.png',:class=>'image_link'), menu %></td>
    <td align=center><%= link_to image_tag('edit.png',:class=>'image_link'), edit_menu_path(menu) %></td>
    <td align=center><%= link_to image_tag('delete.png',:class=>'image_link'), menu, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
 </tr>
<% end %>

</table>
<%= submit_tag 'Update Positions' %>
<% end %>
<br/><br/>
<%= link_to 'New menu', new_menu_path %> | 
<%= link_to "Back to Dashboard", :controller=>"admin", :action=>"dashboard" %>
