<%= link_to 'Add component', new_view_view_component_path %>|
<%= link_to 'Back',view_index_pages_path %>

<h1>Listing view components for <%= @page.get_view_for   %> </h1>

<table>
  <tr>
    
    <th>Name</th>
    <th></th>
    <th>Is linked?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= form_tag update_position_view_view_components_path do %>
<% @view_components.each do |view_component| %>
  <tr>
    
    <td><%= view_component.name %></td>
    <th></th>
    <td><%= view_component.is_linked %></td>
    <th></th>
     <td align=right><%= text_field_tag "#{view_component.id}",view_component.position, :size=>2 %></td>

    <td><%=  link_to image_tag("delete.png",:class=>"image_link"),[@page, view_component], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= submit_tag 'Update Positions' unless @page.view_components.empty? %>
<% end %>
<br />

<%= link_to 'Add component', new_view_view_component_path %>|
<%= link_to 'Back',view_index_pages_path %>
