<% cache("#{model_submission.perma_link}") do %>
  <div id="model_<%= model_submission.id %>" class="model_display">
    <% model_submission.object_model.model_components.each do |mc| %>
      <div class="model_data">
        <div class="model_data_heading model_data_<%= mc.component_name%>_heading">
          <%= mc.component_display_name %>
        </div>
        <div class="model_data_value model_data_<%= mc.component_name%>_value">
          <% model_data = model_submission.model_datas.first(:conditions=>["model_component_id=?",mc.id] )
          unless model_data.nil? %>
            <%= raw get_form_data(mc.component_type,model_data.data_value) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="model_data">
      <div class="model_data_heading model_data_creator_id_heading"> Created By</div>
      <div class="model_data_value model_data_creator_id_value"><%= model_submission.creator.login unless model_submission.creator_id.nil? %></div>
    </div>
    <div class="model_data">
      <div class="model_data_heading model_data_created_at_heading"> Created At</div>
      <div class="model_data_value model_data_created_at_value"><%= model_submission.created_at %></div>
    </div>
    <div class="model_data">
      <div class="model_data_heading model_data_updated_at_heading"> Last Updated At</div>
      <div class="model_data_value model_data_updated_at_value"><%= model_submission.updated_at %></div>
    </div>
  </div>
<% end %>
  <% if  model_submission.object_model.allow_comments %>
   <div>
     <%= render :partial=>"show_comment" ,:locals=>{:model_submission=>model_submission} %>
   </div>

   <div>
     <%= render :partial=>"show_comment_form",:locals=>{:model_submission=>model_submission,:parent_id=>"0"}  %>
   </div>
  <% end  %>


