<% cache("#{page.perma_link}") do %>
<div id="page_<%= page.id %>" class="page_display">
  <div class="page_heading page_title_heading">Title</div>
  <div class="page_value page_title_value"><%= page.title %></div>  
  <div class="page_heading page_body_heading">Body</div>
  <div class="page_value page_body_value"> <%= raw(process_page(page.body)) %></div>
</div>
<% end %>
<% if page.type.eql?('ObjectForm') %>
 <%= render :partial=>"display/show_form",:locals=>{:page=>page} %>
<% elsif page.type.eql?('View')%>
 <%= render :partial=>"display/show_view",:locals=>{:page=>page} %>
<% elsif page.type.eql?('CategoryView')%>
 <%= render :partial=>"display/show_category_view",:locals=>{:page=>page}  %>
<% elsif page.type.eql?('UserView')%>
 <%= render :partial=>"display/show_user_view",:locals=>{:page=>page}  %>
<% end %>
