<% cache("#{page.perma_link}")  do  %>
<p>
 <b>  <%= page.title %></b>
</p>
<p>
<%= raw page.body %>
</p>

<% if page.type.eql?('ObjectForm') %>

  <%= form_tag "/display/create_submissions/#{page.id}", :multipart=>true do %>

    <% page.form_components.each do |form_component| %>
    <p>
      <%= form_component.component_name %>:
      <%= check_component_type(form_component) %>
      <%= form_component.mandatory ? "*" : "" %>
    </p>
    <% end %>
    <p> <%= submit_tag "Submit" %> </p>
  <% end %>
    
<% end %>

<% end %>
