  <% unless page.form_components.eql?([]) %>
    <%= form_tag "/display/create_submissions/#{page.id}", :multipart=>true do %>
      <% page.form_components.each do |form_component| %>
      <p>

      <%= form_component.component_display_name %>:
      <%= form_component.mandatory ? "*" : "" %>
      <%= check_component_type(form_component,@form_submission) %>
     

      </p>
      <% end %>
    <p> <%= submit_tag "Submit" %> </p>
    <% end %>
  <% end %>
