<div>
<% unless params[:page].nil? %>
<p> Showing <%=  start  %> to <%= model_submissions.size < end ? model_submissions.size : end %> of <%= model_submissions.size %> </p>
<%  else %>
<p> Showing 1 to <%= (model_submissions.size > per_page) ? per_page : model_submissions.size %> of <%= model_submissions.size %></p>
<% end if !per_page.nil?%>
<%= will_paginate @page_results %>
</div>

<div id="list_view_<%=page.id%>">

    <% output = ""
    page_results.each do |ms|
      output << "<li id='list_view_#{page.id}_model_#{ms.id}' class='list_element'>"
      page.view_components.each do |vc2|
        value = raw (get_submission_model_data(ms,vc2.name))
        if vc2.is_linked
          value = link_to( value,"#{ms.object_model.perma_link_parent}/#{ms.perma_link}")
        end
        output << "<div class='list_component list_component_#{vc2.name}'>#{ value}</div>"
      end
      output<<"</li>"
    end
   %>
 <ul>
   <%= raw(output) %>
 </ul>
</div>
<div>
<%= will_paginate@page_results %>
<% unless params[:page].nil? %>
<p> Showing <%=  start  %> to <%= model_submissions.size < end ? model_submissions.size : end %> of <%= model_submissions.size %> </p>
<%  else %>
<p> Showing 1 to <%= (model_submissions.size > per_page) ? per_page : model_submissions.size %> of <%= model_submissions.size %></p>
<% end if !per_page.nil?%>
</div>
