
<div>
<% unless params[:page].nil? %>
<p> Showing <%=  @start  %> to <%= @end %> of <%= @model_submissions.size %> </p>
<%  else %>

<p> Showing 1 to <%= @per_page %> of <%= @model_submissions.size %></p>
<% end %>
<%= will_paginate @page_results %>
</div>


<div id="grid_view_<%=page.id%>">
 
    <% output = ""
   @page_results.each do |ms|
        output << "<div class='grid_element'>"
       page.view_components.each do |vc2|
         value = raw (get_submission_model_data(ms,vc2.name))
        if vc2.is_linked
          value = link_to( value,"#{ms.object_model.perma_link_parent}#{ms.perma_link}")
        end
        output << "<div class='grid_component grid_component_#{vc2.name}'>#{ value}</div>"
       end
       output<<"</div>"
    end

   %>
    <%= raw(output) %>
</div>


<div>
<% unless params[:page].nil? %>
<p> Showing <%=  @start  %> to <%= @end %> of <%= @model_submissions.size %> </p>
<%  else %>

<p> Showing 1 to <%= @per_page %> of <%= @model_submissions.size %></p>
<% end %>
<%= will_paginate @page_results %>
</div>