<script>
$(function(){
$("#add_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>").mouseover(function() {
    $(this).css('cursor', 'pointer');
  });
});

$(function(){
$("#add_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>").click(function() {
   $('#comment_form_<%=  model_submission.id.to_s %>_<%=  parent_id %>').css('display', '');
   $('#add_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>').css('display','none');
});
});

$(function(){
$("#cancel_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>").mouseover(function() {
    $(this).css('cursor', 'pointer');
  });
});

$(function(){
$("#cancel_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>").click(function() {
   $('#comment_form_<%=  model_submission.id.to_s %>_<%=  parent_id %>').css('display','none');
   $('#add_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>').css('display','');
   
});
});




</script>

<% unless model_submission.object_model.comment_components.empty? %>
<% if validate_permission("createcomment",model_submission.object_model) %>
<a id="add_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>"> Add Comment</a>
<div  id="comment_form_<%=  model_submission.id.to_s %>_<%=  parent_id %>" style="display:none;" >
  <%= form_tag "/display/create_comment_submissions/#{model_submission.id}", :multipart=>true do %>
       <% model_submission.object_model.comment_components.each do |comment_component| %>
         <div class="comment_component">
             <div class="comment_component_heading comment_component_heading_<%= comment_component.component_name %>">
             <%= comment_component.component_display_name %>:
             </div>
             <div class="mandatory_component"><%= comment_component.mandatory ? "*" : "" %></div>
             <div class="comment_component_value comment_component_value_<%= comment_component.component_name %>">
             <%= check_component_type(comment_component,@comment_submission,CommentDatum) %>
             </div>
       </div>
      <% end %>
      <%= hidden_field_tag 'parent_id', parent_id  %>

    <div class="form_submit"><%= submit_tag "Submit" %> 
    <a id="cancel_comment_<%=  model_submission.id.to_s %>_<%=  parent_id %>"> Cancel</a>
    </div>
    <% end %>
       </div>
<% end %>
   <% end %>
 
