<%= form_for(@pagelet) do |f| %>
  <% if @pagelet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagelet.errors.count, "error") %> prohibited this pagelet from being saved:</h2>

      <ul>
      <% @pagelet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :handle %><br />
    <%= f.text_field :handle %>
  </div>
  <div class="field">
    <%= f.label :display_text %><br />
    <%= f.text_area :display_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
