<%= link_to 'New Pagelet', new_pagelet_path %>|<%= link_to 'Back to Dashboard', admin_dashboard_path %><br />
<h1>Listing pagelets</h1>

<table>
  <tr>
    <th>Handle</th>
    <th>Display text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pagelets.each do |pagelet| %>
  <tr>
    <td><%= pagelet.handle %></td>
    <td><%= pagelet.display_text %></td>
    <td><%= link_to image_tag("show.png",:class=>"image_link") , pagelet %></td>
    <td><%= link_to image_tag("edit.png",:class=>"image_link"), edit_pagelet_path(pagelet) %></td>
    <td><%=  link_to image_tag("delete.png",:class=>"image_link"), pagelet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pagelet', new_pagelet_path %>|<%= link_to 'Back to Dashboard', admin_dashboard_path %><br />
