<p id="notice"><%= notice %></p>

<p>
  <b>Handle:</b>
  <%= @pagelet.handle %>
</p>

<p>
  <b>Display text:</b>
  <%= @pagelet.display_text %>
</p>


<%= link_to 'Edit', edit_pagelet_path(@pagelet) %> |
<%= link_to 'Back', pagelets_path %>
