<h1>Listing Form Submissions for <%= @page.title %> </h1>

<table>
  
<tr>

<% @page.form_components.each do |component_form|   %>
  <td><%= component_form.component_name %>
</td>
   
 <% end %>


</tr>
<% @submission_forms.each do |submission_form| %>
  <tr>
   

   <%  submission_form.form_datas.each do |form_data| %>
      <td><%= get_form_data(form_data.form_component.component_type,form_data.data_value) %></td>
   <% end %>
    <% (@page.form_components.count - submission_form.form_datas.count).times do %>
        <td></td>
    <% end %>
   
    <td><%= link_to 'Edit', edit_object_form_submission_form_path(@page,submission_form) %></td>
    <td><%= link_to 'Destroy', [@page,submission_form], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <td><%= link_to 'Back', object_form_index_pages_path %></td>
</table>

<br />


