<%= form_for(@menuset) do |f| %>
  <% if @menuset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menuset.errors.count, "error") %> prohibited this menuset from being saved:</h2>
      <ul>
        <% @menuset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
    <%= f.submit %>
  </div>
<% end %>
