<%= link_to "Show", @menuset %> | <%= link_to 'Back', menusets_path %>
<h1>Edit <%= @menuset.name %> Menuset</h1>

<%= render 'form' %>

<%= link_to "Show", @menuset %> |
<%= link_to 'Back', menusets_path %>
