<h1>Listing menusets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @menusets.each do |menuset| %>
  <tr>
    <td><%= menuset.name %></td>
    <td><%= menuset.description %></td>
    <td><%= link_to 'Show', menuset %></td>
    <td><%= link_to 'Edit', edit_menuset_path(menuset) %></td>
    <td><%= link_to 'Destroy', menuset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menuset', new_menuset_path %>
