<p><%= link_to 'New Menuset', new_menuset_path %> | <%= link_to "Back to Dashboard", admin_dashboard_path %></p>
<h1>Listing Menusets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @menusets.each do |menuset| %>
  <tr>
    <td><%= menuset.name %></td>
    <td><%= menuset.description %></td>
    <td><%= link_to "Edit", edit_menuset_path(menuset) %></td>
    <td><%= link_to "Destroy", menuset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menuset', new_menuset_path %> | 
<%= link_to "Back to Dashboard", admin_dashboard_path %>
