

<%= link_to image_tag("show.png",:class=>"image_link"), [@object,@model_component] %> |
<%= link_to 'Back', object_model_model_components_path %>
<% component_name = @model_component.component_name %>
<h1>Editing  <%= component_name.capitalize << " of " << @object.name %>  </h1>

<%= render 'form' %>

<%= link_to image_tag("show.png",:class=>"image_link"), [@object,@model_component] %> |
<%= link_to 'Back', object_model_model_components_path %>
