 <% @model= "New " << @object.name.capitalize %>

   <%= link_to @model, new_object_model_model_submission_path %>|
 <%= link_to 'Back to Dashboard', admin_dashboard_path %>


<h1>Listing  <%= @object.name.capitalize.pluralize %> </h1>

<table>

<tr>
<% unless @object.model_submissions.eql?([]) %>
<%= "Title" %>



</tr>
<% @model_submissions.each do |model_submission| %>
  <tr>


   <%  model_submission.model_datas.each do |model_data| %>
      <td><%= raw get_form_data(model_data.model_component.component_type,model_data.data_value) %></td>
      <% break %>
   <% end %>
   
    <td><%= link_to image_tag("show.png",:class=>"image_link"), object_model_model_submission_path(@object,model_submission) %></td>
    <td><%= link_to image_tag("edit.png",:class=>"image_link"), edit_object_model_model_submission_path(@object,model_submission) %></td>
    <td><%=link_to image_tag("delete.png",:class=>"image_link"), [@object,model_submission], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
 <% end %>
  <% else %>
  <%= "You don't have any  Submissions!!! ,want to add detail ? click on New " << @object.name.capitalize %><br/>
  <% end %>
  </table>
 

   <%= link_to @model, new_object_model_model_submission_path %>|
   <%= link_to 'Back to Dashboard', admin_dashboard_path %>





