<%= link_to "Edit", edit_object_model_model_submission_path(@object,@model_submission) %> | <%= link_to 'Back', object_model_model_submissions_path %>
<h3>Details of  <%= @object.name.capitalize %>  </h3>

<p>
  <b>Perma link:</b>
  <%= @model_submission.perma_link %>
</p>


<p>
  <b>Home page:</b>
  <%=  @model_submission.home_page ? "Yes" : "No" %>
</p>

<p>
<% @model_submission.model_datas.each do |model_data| %>
    <b><%= model_data.model_component.component_display_name %>:</b>
	<%= raw get_form_data(model_data.model_component.component_type,model_data.data_value) %><br />
<% end %>
</p>

<%= link_to "Edit", edit_object_model_model_submission_path(@object,@model_submission) %> | <%= link_to 'Back', object_model_model_submissions_path %>
