<h1>Administration dashboard</h1>
<%= link_to "Settings Administration", settings_path %><br/>
<%= link_to 'E-mail Template Configuration',mailers_path %><br />
<%= link_to "User Administration", users_path%><br/>
<%= link_to "Menuset Administration", menusets_path %><br/>
<%= link_to "Menu Administration", menus_path %><br/>
<%= link_to "Pages Administration" ,pages_path %><br/>
<%= link_to " Forms Administration" ,object_form_index_pages_path %><br/>
<%= link_to "Views Administration" ,view_index_pages_path %><br/>
<%= link_to " Models Administration" ,object_models_path %><br/>
<%= link_to "Pagelets Administration" ,pagelets_path %><br/>
<% unless @objects.eql?([]) %>
<h1><u><%= "Models Administration " %></u></h1>
<% @objects.each do |object_model| %>
 <% @link=object_model.name.capitalize.pluralize %>
 <% @link<< " Administration" %>
 <%= link_to @link,[object_model,:model_submissions] %> <br/>
<% end %>
<% end %>
