<%= link_to 'New Object model', new_object_model_path %> | <%= link_to 'Back to Dashboard', admin_dashboard_path %>

<h1>Listing Object Models</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Perma link parent</th>
    <th> Allow comments  </th>
    <th> Is comment Recursive ?  </th>
    <th> Email On comment ? </th>
  </tr>

<% @object_models.each do |object_model| %>

  <tr>
    <td><%= object_model.name %></td>
    <td><%= raw object_model.description%></td>
    <td><%= object_model.perma_link_parent %></td>
    <td><%= object_model.allow_comments ? "Yes" : "No" %></td>
    <td><%= object_model.is_comment_recursive ? "Yes" : "No" %></td>
    <td><%= object_model.email_on_comment ? "Yes" : "No" %></td>
    <td><%= link_to "Model Components",[object_model,:model_components] %></td>
     <% if object_model.allow_comments.eql?(true) %>
    <td><%= link_to "comment Components",[object_model,:comment_components] %></td>
     <% else %>
    <td></td>
     <% end %>
    <td><%= link_to "Show", object_model %></td>
    <td><%= link_to "Edit", edit_object_model_path(object_model) %></td>
    <td><%=  link_to "Destroy",  object_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Object Model', new_object_model_path %> | <%= link_to 'Back to Dashboard', admin_dashboard_path %>
