<%= link_to 'User Detail Settings', user_detail_settings_path %> |
<%= link_to 'Role Management', roles_path %>
<h1>Listing all registered members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'User Details', user_details_user_path(user) %>
    <td><%= link_to image_tag('show.png',:class=>'image_link'), user %></td>
    <td> <%= link_to image_tag('edit.png',:class=>'image_link'), edit_user_path(user) %></td>
    <td><%= link_to image_tag('delete.png',:class=>'image_link'), user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br /><%= link_to 'New User', new_user_path %> |
<%= link_to 'Back to Dashboard', admin_dashboard_path %><br />
