<% unless !get_setting("allow_admin_register_user") %>
<%= link_to 'New User', new_user_path %> |
<% end %>
<%= link_to 'User Detail Settings', user_detail_settings_path %> |
<%= link_to 'Back to Dashboard', admin_dashboard_path %><br />
<h1>Listing all registered members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <% unless @user_detail_settings.empty? %>
    <td><%= link_to 'User Details', user_details_user_path(user) %></td>
    <% end %>
    <td><%= link_to "Show", user %></td>
    <td> <%= link_to "Edit", edit_user_path(user) %></td>
    <% unless user.id==1 %>
    <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% unless !get_setting("allow_admin_register_user") %>
<%= link_to 'New User', new_user_path %> |
<%end%>
<%= link_to 'User Detail Settings', user_detail_settings_path %> |
<%= link_to 'Back to Dashboard', admin_dashboard_path %><br />
