<%= link_to 'Edit Information', edit_user_path(@user)  %>
| <%= link_to 'Edit User Details', user_details_user_path(@user) %>

<h3>Displaying <%= @user.login %>'s information</h3>
<% @user_detail_settings.each do |user_detail_setting| %>
<p>
  <b><%= user_detail_setting.field_name %>:</b>
  <% user_detail = UserDetail.find_by_user_id_and_user_detail_setting_id(@user.id,user_detail_setting.id) %>
  <% unless user_detail.nil? %>
  <%= user_detail.selected_value %>
  <% else %>
  <% "" %>
  <% end %>
</p>
<%end%>
<p>
  <b>Login:</b>
  <%=@user.login %>
</p>
<p>
  <b>Email:</b>
  <%=@user.email %>
</p>
<p>
  <b>Role:</b>
  <% if @user.admin? %>
  is admin
  <% else %>
  is not admin
  <% end %> 
</p>
<p>
  <b>Login count:</b>
  <%=@user.login_count %>
</p>
<p>
  <b>Current login ip:</b>
  <%=@user.current_login_ip %>
</p>
<% if current_user.admin? %>
<%= link_to 'Back',:action=>"index" %>
<% end %>
