<%= link_to 'Edit Information', edit_user_path(@user)  %>
<% if !@user_detail_settings.empty? %>
| <%= link_to 'Edit User Details', user_details_user_path(@user) %>
<% end %>

<h3>Details of  <%= @user.login %></h3>
<p>
  <b>Login:</b>
  <%=@user.login %>
</p>
<p>
  <b>Email:</b>
  <%=@user.email %>
</p>
<p>
  <b>Role:</b>
  <% if @user.admin? %>
  is admin
  <% else %>
  is not admin
  <% end %> 
</p>

<p><b> Login Count:</b>
<%= @user.login_count %>
</p>

<p><b>Failed Login Count:</b>
<%= @user.failed_login_count %>
</p>

<p><b>Current Login Ip:</b>
<%= @user.current_login_ip %>
</p>

<p><b>Previous Login Ip:</b>
<%= @user.last_login_ip %>
</p>

<% @user_detail_settings.each do |user_detail_setting| %>
<p>
  <b><%= user_detail_setting.field_name %>:</b>
  <% user_detail = UserDetail.find_by_user_id_and_user_detail_setting_id(@user.id,user_detail_setting.id) %>
  <% unless user_detail.nil? %>
    <% case user_detail_setting.field_type %>
      <% when "File" %>
        <% if !user_detail.selected_value.blank? && user_detail.selected_value.to_i != 0 %>
           <% asset=Asset.find(user_detail.selected_value) %>
           <%= check_content_type(asset) %>
        <% else %>
           <%= "No files uploaded." %>
        <% end  %>
      <% else %>
        <%= user_detail.selected_value %>
      <% end %>
  <% else %>
    <% "" %>
  <% end %>
</p>
<% end %>
<% if current_user.admin? %>
<%= link_to 'Back',:action=>"index" %>
<% end %>
