<h3>Edit User <%= current_user.login %> details </h3>
<%= form_tag update_details_user_path(@user),:multipart=>true, :method => :post do %>
<%= hidden_field_tag 'user_id',@user.id %>
  <% @user_detail_settings.each do |user_detail_setting| %>
    <p>
      <%= user_detail_setting.field_name %>:
      <%= check_field_type(user_detail_setting,@user) %>
      <%= user_detail_setting.mandatory ? "*" : "" %>
    </p>
  <% end %> 

  <p><%= submit_tag "Submit" %> |
<% if current_user.admin? %>
  <%= link_to "Back",users_path %>
<% else %>
  <%= link_to "Back",account_path %>
<% end %>
  </p>  
<% end %>






