<%= link_to "Back",users_path %>
<div id="form_<%= @user.id %>" class="user_form">
<h3>Edit <%= current_user.login %> details </h3>
<%= form_tag update_details_user_path(@user),:multipart=>true, :method => :post do %>
<%= hidden_field_tag 'user_id',@user.id %>
 <% @user_detail_settings.each do |user_detail_setting| %>
 <div class="user_field">  
   <div class="form_user_heading form_user_heading_<%= user_detail_setting.field_name %>">  
      <%= user_detail_setting.field_name %>:  
   </div>
   <div class="user_mandatory"><%= user_detail_setting.mandatory ? "*" : "" %></div>
   <div class="form_user_value form_user_value_<%= user_detail_setting.field_type %>">
        <%= check_field_type(user_detail_setting,@user) %>
    </div>
 </div>
<% end %> 

  <div class= "user_form_submit"><%= submit_tag "Submit" %></div>
</div>
<% if current_user.admin? %>
  <%= link_to "Back",users_path %>
<% else %>
  <%= link_to "Back",account_path %>
<% end %>
  </p>  
<% end %>






