<% unless @user_detail_settings.empty? %>
<% @user_detail_settings.each do |user_detail_setting| %>
 <div class="user_section user_section_field_<%=user_detail_setting.field_name %>">
  <div class="user_section_heading user_section_field_<%=user_detail_setting.field_name %>_heading">
      <%= user_detail_setting.display_name %>:
  </div>
  <div class="user_section_value user_section_field_<%=user_detail_setting.field_name %>_value">
  <% user_detail = UserDetail.find_by_user_id_and_user_detail_setting_id(@user.id,user_detail_setting.id)
   unless user_detail.nil? %>
  <% case user_detail_setting.field_type %>
      <% when "File" %>
       <% if !user_detail.selected_value.blank? && user_detail.selected_value.to_i != 0 %>
           <% asset=Asset.find(user_detail.selected_value) %>
           <%= check_content_type(asset) %>
        <% else %>
           <%= "No files uploaded." %>
        <% end  %>
      <% when "Textfield","Textarea"%>
         <%= auto_link(user_detail.selected_value)  %>
      <% else %>
        <%= user_detail.selected_value %>
      <% end %>
  <% else %>
    <% "" %>
  <% end %>
 </div>
</div>
<% end %>
<% else %>
<%= 'No user details added'  %>
<% end %>