<% unless @user_detail_settings.empty? %>
<% @user_detail_settings.each do |user_detail_setting| %>
 <div class="user_section user_section_field_<%=user_detail_setting.field_name %>">
  <div class="user_section_heading user_section_field_<%=user_detail_setting.field_name %>_heading">
      <%= user_detail_setting.display_name %>:
  </div>
  <div class="user_section_value user_section_field_<%=user_detail_setting.field_name %>_value">
  <%= raw(get_user_detail(@user,user_detail_setting)) %>
 </div>
</div>
<% end %>
<% end %>


<div id="member-blog">
<% title=ModelComponent.find_by_component_name('title') %>  
<% model_datas=ModelData.find_all_by_creator_id_and_model_component_id(@user.id,title) %>
<% model_datas.each do |model_data| %>
 <% if model_data.model_submission.status=='Published' %>
<%= link_to "#{model_data.data_value}", "/#{model_data.model_submission.object_model.perma_link_parent}/#{model_data.model_submission.perma_link}"%> 
 <%#= model_data.data_value %><br/>
<% end %>
 <% end %>
</div>

