<%= link_to 'New Form Component', new_object_form_form_component_path %> | <%= link_to 'Back', object_form_index_pages_path %>
<h1>Listing Form Components for <%= @page.title.capitalize %> </h1>

<table>
  <tr>
    <th>Component name</th>
    <th>Component Display name</th>
    <th>Component type</th>
    <th>Mandatory Field?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= form_tag update_position_object_form_form_components_path do %>
<% @form_components.each do |form_component| %>
  <tr>
    <td><%= form_component.component_name %></td>
    <td><%= form_component.component_display_name %></td>
    <td><%= form_component.component_type %></td>
    <td><%= form_component.mandatory %></td>
    <th></th>
     <td align=right><%= text_field_tag "#{form_component.id}",form_component.position, :size=>2 %></td>
    <td><%=  link_to "Show",object_form_form_component_path(@page,form_component) %></td>
    <td><%= link_to "Edit", edit_object_form_form_component_path(@page,form_component) %></td>
    <td><%= link_to "Destroy", ([@page,form_component]) ,:confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= submit_tag 'Update Positions' unless @page.form_components.empty? %>
<% end %>

<br /><br/>

<%= link_to 'New Form Component', new_object_form_form_component_path %> |
<%= link_to 'Back', object_form_index_pages_path %>

