<h1>Listing  submissions for <%= @page.title.pluralize.capitalize %> </h1>
<%= link_to 'Back', object_form_index_pages_path %>
<table>

<tr>

<% @page.form_components.each do |component_form|   %>
  <th><h4><%= component_form.component_display_name.capitalize %></h4>
</th>

 <% end %>

</tr>
<% @form_submissions.each do |form_submission| %>
  <tr>
   <%  form_submission.form_data.each do |form_data| %>
      <td><%= get_form_data(form_data.form_component_component_type,form_data.data_value) %></td>
   <% end %>

    <% (@page.form_components.count - form_submission.form_data.count).times do %>
    <td></td>
    <% end %>
    <td><%= link_to "Edit", edit_object_form_form_submission_path(@page,form_submission) %></td>
    <td><%=link_to "Destroy", [@page,form_submission], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<p><%= link_to 'Back', object_form_index_pages_path %></p>
<br />

