<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :name,'Setting Name' %></b><br />
    <%= f.label @setting.name %>
  </div>

  <div class="field">
    <b><%= f.label :desc_text,'Descriptive Text' %></b><br />
    <%= f.label @setting.desc_text %>
  </div>

  <div class="field">
    <b><%= f.label :setting_type %></b><br />
    <%= f.label @setting.setting_type %>
  </div>

  <% if @setting.setting_type=='boolean' %>
  <div class="field">
    <b><%= f.label :setting_value,'Setting Value' %></b><br />
    <%= f.select :setting_value ,["true","false"]%>
  </div>
  <% else %>
    <b><%= f.label :setting_value,'Setting Value' %></b><br />
    <%= f.text_field :setting_value %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
