<%= link_to "Show", [@page,@view_component] %> | <%= link_to 'Back', view_view_components_path %>
<h1>Edit View Component <%= @view_component.name %></h1>

<%= render 'form' %>

<%= link_to "Show", [@page,@view_component] %> | <%= link_to 'Back', view_view_components_path %>
