
<%= link_to "Show", {:action=>"show",:id=>@page} %> | <%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : pages_url) %><br />

<h1><b><%=  @page.type == "ObjectForm" ? "Edit Form #{@page.title} " : (@page.type == "View" ? "Edit View #{@page.title}" : "Edit Page #{@page.title}") %><b></h1>

<%= render 'form' %>

<%= link_to "Show", {:action=>"show",:id=>@page} %> |
<%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : pages_url) %><br />

