
<%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : pages_url) %><br />

<h1><b><%=  @page.type == "ObjectForm" ? "Editing Object Form of #{@page.title} " : " Editing Page"%><b></h1>

<%= render 'form' %>

<%= link_to image_tag('show.png',:class=>'image_link'), {:action=>"show",:id=>@page} %> |
<%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : pages_url) %><br />

