<%= link_to image_tag('edit.png',:class=>'image_link'), edit_page_path(@page) %> |
<%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : pages_url) %><br />
<h3><b><%=  @page.type == "ObjectForm" ? "Details of #{@page.title} Form" : "Details of #{@page.title} Page" %><b></h3>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Body:</b>
  <%= raw @page.body %>
</p>

<p>
  <b>Perma link:</b>
  <%= @page.perma_link %>
</p>

<p>
  <b>Home page:</b>
  <% if @page.home_page.eql?(false) %>
      <%= "No" %>
  <% else %>
       <%= "Yes" %>
   <% end %> 
</p>

<p>
  <%= raw("<b>Email  </b> : #{@page.email}") if @page.type == "ObjectForm" %>

</p>
<p>
  <%= raw("<b>View Type  </b> : #{@page.view_type}") if @page.type == "View" %>

</p>
<p>
  <%= raw("<b>View For </b> : #{@page.get_view_for}") if @page.type == "View" %>

</p>
<p>
  <b>Allow Create on Permission:</b>
  <% if @page.allow_create_on_permission.eql?(false) %>
      <%= "No" %>
  <% else %>
       <%= "Yes" %>
   <% end %>
</p>


<%= link_to image_tag('edit.png',:class=>'image_link'), edit_page_path(@page) %> |
<%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : (@page.type == "View" ? view_index_pages_url : pages_url)) %>
