<%= link_to image_tag('edit.png',:class=>'image_link'), edit_page_path(@page) %> |
<%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : pages_url) %><br />
<h1><b><%=  @page.type == "ObjectForm" ? "Show Object Form Details" : "Show Page Details"%><b></h1

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Body:</b>
  <%= raw @page.body %>
</p>

<p>
  <b>Perma link:</b>
  <%= @page.perma_link %>
</p>

<p>
  <b>Home page:</b>
  <% if @page.home_page.eql?(false) %>
      <%= "No" %>
  <% else %>
       <%= "Yes" %>
   <% end %> 
</p>



<p>
  <%= raw("<b>Email  </b> : #{@page.email}") if @page.type == "ObjectForm" %>
</p>

<%= link_to image_tag('edit.png',:class=>'image_link'), edit_page_path(@page) %> |
<%= link_to 'Back', (@page.type == "ObjectForm" ? object_form_index_pages_url : pages_url) %>
