<%= link_to 'New View', new_view_pages_path %> | <%= link_to 'Back to Dashboard', admin_dashboard_path %><br />

<h1>Listing Views</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Perma link</th>
    <th>Home page</th>
    <th>View Type</th>
    <th>View For</th>
    <th>Allow Create on Permission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.perma_link %></td>
    <td><%= page.home_page ? "Yes" : "No" %></td>
    <td><%= page.view_type %></td>
    <td><%= page.get_view_for %></td>
    <td><%= page.allow_create_on_permission ? "Yes" : "No" %></td>
    <td><%= link_to "View Components",[page,:view_components] %></td>
    <td><%= link_to "View conditions",[page,:view_conditions] %></td>
    <td><%= link_to "View Order",[page ,:view_orders] %></td>
    <td><%= link_to "Show", :action=>"show",:id=>page %></td>
    <td><%= link_to "Edit", edit_page_path(page) %></td>
    <td><%= link_to "Destroy", {:action=>"destroy",:id=>page}, :confirm => 'Are you sure?', :method => :delete %></td>
   
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New View', new_view_pages_path %> | <%= link_to 'Back to Dashboard', admin_dashboard_path %><br />

