<h1>Listing permissions</h1>
<%= form_tag save_permission_roles_permissions_path do %>
<table>
  <tr>
    <th>Permission Name</th>
    <% for role in Role.find(:all) %>
     <th> <%= role.role_type %></th>
     <% end %>
  </tr>
  <% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.activity_display_text %></td>
    <% for role in Role.all %>
    <td><%= check_box_tag "permission_role[#{permission.id}][#{role.id}]" %></td>
    <% end %>
  </tr>
  <% end %>
  </table>
  <%= submit_tag "Update" %>
<% end %>
