
<p>
  <b>Role:</b>
  <%= @permission.role_id %>
</p>

<p>
  <b>Permission object:</b>
  <%= @permission.permission_object %>
</p>

<p>
  <b>Permission type:</b>
  <%= @permission.permission_type %>
</p>

<p>
  <b>Activity code:</b>
  <%= @permission.activity_code %>
</p>

<p>
  <b>Activity display text:</b>
  <%= @permission.activity_display_text %>
</p>

<p>
  <b>Status:</b>
  <%= @permission.status %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
