<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>

<p>
<b>Role:</b>
<%= @role.role_type %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
