<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :name,'Setting Name' %></b><br />
    <%= f.label @setting.name %>
  </div>

  <div class="field">
    <b><%= f.label :desc_text,'Descriptive Text' %></b><br />
    <%= f.label @setting.desc_text %>
  </div>

  <div class="field">
    <b><%= f.label :setting_type %></b><br />
    <%= f.label @setting.setting_type %>
  </div>

  <% if @setting.setting_type=='boolean' %>
    <div class="field">
      <b><%= f.label :setting_value,'Setting Value' %></b><br />
      <%= f.select :setting_value ,["true","false"]%>
    </div>
  <% elsif %>
    <% @setting.setting_type=='colorbox' %>
    <b><%= f.label :setting_value,'Setting Value' %></b><br />
    <p> <%= f.text_field :setting_value,:id=>"colorpickerField1" %></p>
  <%elsif%>
    <% @setting.setting_type=='integer' %>
    <b><%= f.label :setting_value,'Setting Value' %></b><br />
     <p> <%= f.select :setting_value,["12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"] %></p>
  <% elsif %>
     <% @setting.setting_type=='font' %>
    <b><%= f.label :setting_value,'Setting Value' %></b><br />
    <p> <%= f.select :setting_value,["Arial","Arial Black","Geneva","Georgia","Georgia1","Helvetica","monospace","MS Serif4","sans-serif","Tahoma","Times New Roman","Times","Trebuchet MS","Trebuchet MS1","Verdana"] %></p>
 <% else %>
   <b><%= f.label :setting_value,'Setting Value' %></b><br />
    <p> <%= f.text_field :setting_value %></p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
