<%= render :partial=>"shared/back_dashboard" %>
<h1>Non-Configurable Settings</h1>
<p>"Caching by default stores all the Pages, Object Forms and the Pagelets. You can delete all the cached data and allow them to be procured from the database. Click on below link to Clear the cache”</p>
<p><%= link_to "Clear Cache", admin_clear_cache_path %></p>
<br/>
<h1>Configurable Settings</h1>
<table>
  <tr>
    
    <th>Setting Name</th>
    <th>Descriptive Text</th>
    <th>Setting Type</th>
    <th>Setting Value</th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.name %></td>
    <td><%= setting.desc_text %></td>
    <td><%= setting.setting_type %></td>
    <td><%= setting.setting_value %></td>
    <td><%= link_to "Edit", edit_setting_path(setting)%></td>
  </tr>

<% end %>
</table>

<br />
<%= render :partial=>"shared/back_dashboard" %>