<%= link_to 'Back to Dashboard', admin_dashboard_path %>
<h1>Non-Configurable Settings</h1>
<p>"Caching by default stores all the Pages, Object Forms and the Pagelets. You can delete all the cached data and allow them to be procured from the database. Click on below link to Clear the cache”</p>
<p><%= link_to "Clear Cache", admin_clear_cache_path %></p>
<p>"Reload Colors will reload the style settings that have been updated to the database. This will help the sessions to be refreshed and reloaded”</p>
<p><%= link_to "Reload Style Settings", reload_style_settings_path %></p>
<br/>
<h1>Configurable Settings</h1>
<table>
  <tr>
    
    <th>Setting Name</th>
    <th>Descriptive Text</th>
    <th>Setting Type</th>
    <th>Setting Value</th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= setting.name %></td>
    <td><%= setting.desc_text %></td>
    <td><%= setting.setting_type %></td>
    <td><%= setting.setting_value %></td>
    <td><%= link_to "Edit", edit_setting_path(setting)%></td>
  </tr>

<% end %>
<% @setting_booleans.each do |setting| %>
  <tr>
    <td><%= setting.name %></td>
    <td><%= setting.desc_text %></td>
    <td><%= setting.setting_type %></td>
    <td><%= setting.setting_value %></td>
    <td><%= link_to "Edit", edit_setting_path(setting)%></td>
  </tr>
<% end %>
</table>
<br />

<h1>Layout settings</h1>

<h3>Color Settings</h3>
<table>
  <tr>
    
    <th>Setting Name</th>
    <th>Descriptive Text</th>
    <th>Setting Type</th>
    <th>Setting Value</th>
  </tr>

<% @setting_colors.each do |setting| %>
  <tr>
    <td><%= setting.name %></td>
    <td><%= setting.desc_text %></td>
    <td><%= setting.setting_type %></td>
    <td><%= setting.setting_value %></td>
    <td><%= link_to "Edit", edit_setting_path(setting)%></td>
  </tr>

<% end %>

</table>
</br>


<h3>Font Size Settings</h3>
<table>
  <tr>
    
    <th>Setting Name</th>
    <th>Descriptive Text</th>
    <th>Setting Type</th>
    <th>Setting Value</th>
  </tr>

<% @setting_sizes.each do |setting| %>
  <tr>
    <td><%= setting.name %></td>
    <td><%= setting.desc_text %></td>
    <td><%= setting.setting_type %></td>
    <td><%= setting.setting_value %></td>
    <td><%= link_to "Edit", edit_setting_path(setting)%></td>
  </tr>
<% end %>
</table>


<br />
<%= link_to 'Back to Dashboard', admin_dashboard_path %>
