<%= link_to 'Back', settings_path %>
<p>
  <b>Setting Name:</b>
  <%= @setting.name %>
</p>
<p>
  <b>Descriptive Text:</b>
  <%= @setting.desc_text %>
</p>
<p>
  <b>Setting Type:</b>
  <%= @setting.setting_type %>
</p>
<p>
  <b>Setting Value:</b>
  <%= @setting.setting_value %>
</p>
<%= link_to 'Back', settings_path %>
