<%= link_to 'New Email Template', new_mailer_path %> |
<%= link_to 'Back to Dashboard',admin_dashboard_path %>
<h1>Listing Email Templates</h1>

<table>
  <tr>
    <th>Handle</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mailers.each do |mailer| %>
  <tr>
    <td><%= mailer.handle %></td>
    <td><%= mailer.subject %></td>
    <td><% unless mailer.is_deletable == false %>
        <%= link_to 'Send Mail',sendmail_mailer_path(mailer) %>
        <% end %></td>
    <td><%= link_to "Show", mailer %></td>
    <td><%= link_to "Edit", edit_mailer_path(mailer) %></td>
    <% unless mailer.is_deletable == false %>
    <td><%= link_to "Destroy", mailer, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email Template', new_mailer_path %> |
<%= link_to 'Back to Dashboard',admin_dashboard_path %>
