<%= link_to 'New Role', new_role_path %> | <%= link_to 'Back to Users' ,users_path %>
<h1>Listing Roles</h1>

<table>
  <tr>
    <th>Role Type</th>
    
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.role_type %></td>
    <% if current_user.admin? %>
    <td><%= link_to "Edit",edit_role_path(role) %></td>
    <% end %>
    <% if role.is_deletable == true %>
    <td><%= link_to "Destroy", role, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_role_path %> |
<%= link_to 'Back to Users' ,users_path %>
