<%= link_to 'New Category', new_category_path %> | <%= link_to "Back to Dashboard", admin_dashboard_path%>
<h1>Listing categories</h1>
<%= form_tag update_position_categories_path do %>
<table>
<% @all_categories.each do |c| %>
 <tr>
<% if c[1] < 0 %>
<td><%= c[0] %></td>
<% else %>
<% category = Category.find(c[1])
 category.level.times do %>
<td></td>
<% end %>
<td><%= c[0] %></td>


    <td align=right><%= text_field_tag "#{category.id}",category.position, :size=>2 %></td>
    <td align=center><%= link_to "Edit", edit_category_path(category) %></td>
    <td align=center><%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
 </tr>
<% end %>

</table>
<%= submit_tag 'Update Positions' %>
<% end %>
<br />

<%= link_to 'New Category', new_category_path %> | <%= link_to "Back to Dashboard", admin_dashboard_path%>
