 <%= javascript_include_tag :ckeditor %>
<%= form_for(@mailer) do |f| %>
  <% if @mailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailer.errors.count, "error") %> prohibited this mailer from being saved:</h2>

      <ul>
      <% @mailer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :handle %><br />
    <% if @mailer.is_deletable==true %>
    <%= f.text_field :handle %>
    <% else %>
    <%= @mailer.handle %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= raw(f.cktext_area :body, :toolbar=>'Full',:cols=>'100', :rows=>'5') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
