<%= form_for([@page,@view_condition]) do |f| %>
  <% if @view_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@view_condition.errors.count, "error") %> prohibited this view_condition from being saved:</h2>

      <ul>
      <% @view_condition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.select :name , @page.not_added_condition_components.collect{|c| c } %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :operator %><br />
    <%= f.select :operator ,["=" ,"<" ,">" ,"<=" ,">=","!="] %>
  </div>
  <div class="field">
    <%= f.label :relation_with %><br />
    <%= f.select :relation_with , ["and","or"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
