
<%= link_to 'Show', @page_variable_setting %> |
<%= link_to 'Back', page_variable_settings_path %>
|<%= link_to 'Back To pages', pages_path %>
<h1>Editing page variable setting</h1>

<%= render 'form' %>

<%= link_to 'Show', @page_variable_setting %> |
<%= link_to 'Back', page_variable_settings_path %>
|<%= link_to 'Back To pages', pages_path %>
