
<%= link_to 'Edit', edit_page_variable_setting_path(@page_variable_setting) %> |
<%= link_to 'Back', page_variable_settings_path %>|<%= link_to 'Back To pages', pages_path %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page_variable_setting.name %>
</p>

<p>
  <b>Default value:</b>
  <%= @page_variable_setting.default_value %>
</p>


<%= link_to 'Edit', edit_page_variable_setting_path(@page_variable_setting) %> |
<%= link_to 'Back', page_variable_settings_path %>|<%= link_to 'Back To pages', pages_path %>
