<h1>User Detail Settings Page</h1>

<table>
  <tr>
    <th>Field Name</th>
    <th>Field Type</th>
    <th>Field Values</th>
    <th>Default Value</th>
    <th>Mandatory</th>
  </tr>

<% @user_detail_settings.each do |user_detail_setting| %>
  <tr>
    <td><%= user_detail_setting.field_name %></td>
    <td><%= user_detail_setting.field_type %></td>
    <td><%= user_detail_setting.field_values %></td>
    <td><%= user_detail_setting.default_value %></td>
    <td><%= user_detail_setting.mandatory %></td>
    <td><%= link_to image_tag('show.png',:class=>'image_link'), user_detail_setting %></td>
    <td><%= link_to image_tag('edit.png',:class=>'image_link'), edit_user_detail_setting_path(user_detail_setting) %></td>
    <td><%= link_to image_tag('delete.png',:class=>'image_link'), user_detail_setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User Detail Setting', new_user_detail_setting_path %> |
<%= link_to 'Back to Users', users_path %>
