<div id="dashboard_left">
				<h1><u>Administration Dashboard</u></h1>
				<div class="dashboard_headers">
					<H2>User Management System</H2>
				</div>
				<div class="descriptions">
				Somthing about User Management System. Somthing about User Management System.
				</div>				
				<div id="items" >	
					<%= link_to "Role Management",roles_path %>
					<%= link_to "User Administration", users_path%>
					<%= link_to "Permission Management",permissions_path %>
				</div>
				
				<div class="dashboard_headers">
					<H2>Page Management System</H2>
				</div>
				<div class="descriptions">
				Somthing about Page Management System.Somthing about Page Management System.Somthing about Page Management System.Somthing about Page Management System.Somthing about Page Management System.
				</div>				
				<div id="items">	
					<%= link_to "Menuset Administration", menusets_path %>
					<%= link_to "Menu Administration", menus_path %>
					<%= link_to "Pages Administration" ,pages_path %>
					<%= link_to "Pagelets Administration" ,pagelets_path %>
					<%= link_to "Forms Administration" ,object_form_index_pages_path %>
				</div>		

				<div class="dashboard_headers">
					<H2>Models Management System</H2>
				</div>
				<div class="descriptions">
				Somthing about Models Management System. Somthing about Models Management System. Somthing about Models Management System. Somthing about Models Management System. 
				</div>
				<div id="items">	
					<%= link_to " Models Administration" ,object_models_path %>
					<%= link_to "Views Administration" ,view_index_pages_path %>
					<%= link_to "CategorySet Administration", categorysets_path %>
					<%= link_to "Category Administration", categories_path %>
                                        <%= link_to "Category Views Administration" ,category_view_index_pages_path %>
				</div>				

				<div class="dashboard_headers">
					<H2>Others</H2>
				</div>
				<div class="descriptions">
				Somthing about Others. Somthing about Others. Somthing about Others. Somthing about Others. Somthing about Others. Somthing about Others. Somthing about Others. 
				</div>				
				<div id="items" >	
					<%= link_to 'E-mail Template Configuration',mailers_path %>
					<%= link_to "Site Settings Administration", settings_path %>
				</div>					
			</div>



<div id="dashboard_right">
<div id="items">
 <%= render :partial=>"shared/models_administration" %>
</div>
</div>
