<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

   <div class="field">
    <%= f.hidden_field :menu_view_type, :value => 1 %>
  </div>


  <div class="field">
    <%= f.label :parent_menu %><br />
    <%= f.select :parent_id, get_all_menus(@menu).collect{|m|[m.levelname,m.id]} %>
  </div>

 

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position, :value=>"0" %>
  </div>
  
  <div class="field">
    <%= f.label :link_path %><br />
      <% if (!@menu.nil? && !@menu.page.nil?) %>
        <b><%= @menu.page.perma_link %></b><br />
      <% else %>
        <%= f.text_field :link_path %><br />
      <% end %>
  </div>

  <div class="field">
    <%= f.label :image_path %><br />
    <%= f.text_field :image_path %>
  </div>

  <div class="field">
    <%= f.label :hover_image_path %><br />
    <%= f.text_field :hover_image_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
