<%= link_to "Edit", edit_menu_path(@menu) %> | <%= link_to 'Back', menus_path %>
<h3>Details of <%= @menu.name %> Menu </h3>
<p>
<b>Name</b>: <%= @menu.name %></p>
<p><b>Parent Menu</b>:<%= if @menu.parent_id == 0
                        "Root"
else
                         unless @menu.parent_id.nil?
                         @menu.name
                         end
end %></p>
 <p><b>Position</b>:<%= @menu.position %></p>
<%= link_to "Edit", edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
