<%= link_to 'Show', @object_model %> | <%= link_to 'Back', object_models_path %>
<h1>Edit Model <%= @object_model.name %> </h1>

<%= render 'form' %>

<%= link_to 'Show', @object_model %> |
<%= link_to 'Back', object_models_path %>
