<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%#= get_page_variable "SEO Meta Title" %></title>
  <META name="description" content="<%= get_page_variable "SEO Meta Description" %>" >
  <META name="keywords" content="<%= get_page_variable "SEO Meta Keywords" %>" >
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag :ckeditor %>
  <%= csrf_meta_tag %>
 </head>
 <body>
  <div id="layout">
   <div id="header">
    <div id="top_bar">
      <%= login_links %>
    </div>
    <div id="header_text">
      <h1>Welcome to RlingCMS</h1>
      <h3>Faster CMS for Faster minds</h3>
    </div>
    <div id="header_menu">
      <% unless Menuset.find_by_name("Header").nil?%>
        <%= render :partial=>"layouts/dropdownmenu", :locals=>{:menusetname=>"Header"}%>
      <% end %>
    </div>
   </div>
   <div id="middle">
    <%if flash[:notice]%>
      <div id="notice"><%= flash[:notice]  %></div>
    <%end%>
    <%= yield  %>
   </div>
   <div id="footer">
    <div id="footer_menu">
     <% unless Menuset.find_by_name("Footer").nil? %>
      <%= render :partial=>"layouts/nolistmenu", :locals=>{:menusetname=>"Footer"}%>
     <% end %>
    </div>
    <div id="developer">
       Developed by Heurion<br/>
       contact: <a href="mailto:info@heurion.com" >info@heurion.com</a>
       website: <a href="http://www.heurion.com">www.heurion.com</a>
    </div>
   </div>
  </div>
 </body>
</html>
