<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>

  <title><%= get_page_variable "SEO Meta Title" %></title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en" />
  <meta name="generator" content="RlingCMS -- www.rlingcms.com"/>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="robots" content="index,follow" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta name="distribution" content="worldwide" />
  <meta name="description" content="<%= get_page_variable "SEO Meta Description" %>" />
  <meta name="keywords" content="<%= get_page_variable "SEO Meta Keywords" %>" />

   <%= stylesheet_link_tag 'application' %>
 
   <%= javascript_include_tag "application" %>
   <%= javascript_include_tag '/javascripts/ckeditor/ckeditor' %>
   <%= render "shared/read_settings" %>
 
  <%= csrf_meta_tag %>
 </head>
 <body>
   <div id="layout">
     <div id="header">
       <div id="top_bar">
         <%= raw(login_links) %>
       </div>
       <div id="header_text">
         <div id="logo"><a href="/"><img src="<%= "#{session[:settings][:header_logo]}" %>"></a></div>
         <div id="header_heading"> <span id="heading"> <%=  "#{session[:settings][:header_website_text]}" %></span><span id="heading_tag"><%=  "#{session[:settings][:header_website_tag_text]}" %></span></div>
       </div>
       <div id="header_menu">
         <div id="menus">
         <%= raw(show_menu 'dropdownmenu','Header') %>
         </div>    
         <div id="search_bar">
         <%= raw(search_bar) %>
        </div>   
	<div style="clear:both;"></div>
       </div>
	<div style="clear:both;"></div>
     </div>
     <div id="middle">
       <div id="dashboard_main">
   
     <%= raw(flash_notice) %>
        
    <%= yield %>
    </div>
   </div>
  
   <div id="footer">
    <div id="footer_menu">
     <%= raw(show_menu 'nolistmenu','Footer') %>     
    </div>
    <div id="developer">
      RLING CMS is a product of <a href="http://www.railsdetectives.com">RAILS DETECTIVES</a> released under GNU General Public License v3.0
    </div>
   </div>
  </div>
 </body>
</html>
